%h1 登録用フォームver1.2

%div#main= @msg

%table
  %tr
    %th Name
    %th Age
    %th Description
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.age
      %td= user.description
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
